In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import mstats
from sklearn.linear_model import SGDClassifier
import mltools as ml

In [149]:
X = np.genfromtxt('X_train.txt')
Y = np.genfromtxt('Y_train.txt')
Xte = np.genfromtxt('X_test.txt')
X,Y = ml.shuffleData(X,Y)

Xtr,Xva,Ytr,Yva = ml.splitData(X,Y)

In [150]:
data = pd.DataFrame(Xtr)
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000
mean,241.600069,227.385533,241.558271,232.838386,3091.603719,928.641744,138.159406,3.246318,6.496755,2.095569,4.216429,2.689919,10.284188,5.771489
std,9.141593,9.619441,5.939732,9.881241,3953.363883,1755.645326,668.825028,2.871297,2.528585,2.087382,2.021427,1.485261,20.587912,58.807584
min,195.000000,152.500000,214.250000,152.500000,10.000000,0.000000,0.000000,0.000000,0.875890,0.000000,0.000000,0.000000,0.990490,-999.900000
25%,236.000000,223.000000,238.500000,230.420000,558.000000,8.000000,0.000000,1.438900,4.773100,0.372680,2.855500,1.690700,1.955200,0.000000
50%,243.000000,229.000000,242.450000,232.980000,1651.000000,211.000000,0.000000,2.314800,6.145800,1.645800,3.678400,2.333100,4.064800,0.000000
75%,249.000000,234.000000,245.860000,234.780000,4151.000000,1035.000000,0.000000,4.078700,7.765000,2.969325,5.051700,3.343500,20.000000,0.300000
max,253.000000,249.000000,252.500000,252.500000,31048.000000,13630.000000,9238.000000,125.170000,19.167000,13.230000,66.761000,73.902000,975.040000,797.200000

In [148]:
clf = SGDClassifier(max_iter=1000);
clf.fit(Xtr,Ytr)
print(clf.score(Xtr,Ytr),clf.score(Xva,Yva))

0.65786875 0.66325

In [151]:
XtS, params = ml.rescale(Xtr) # Normalize the features
XvS, _ = ml.rescale(Xva, params)

In [152]:
clf = SGDClassifier(max_iter=1000);
clf.fit(XtS,Ytr)
print(clf.score(XtS,Ytr),clf.score(XvS,Yva))

0.66085 0.662475

In [153]:
for i in range(14):
    transformed_data = pd.Series(mstats.winsorize(data[i], limits=[0.05, 0.05]))
    data[i] = transformed_data;

In [154]:
data = pd.DataFrame(Xtr)
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,160000.000000,160000.000000,160000.000000,160000.00000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000
mean,241.912927,227.570878,241.738160,232.93547,2836.452063,786.456250,60.563187,3.091282,6.431385,2.030180,4.159393,2.649396,8.954289,5.591730
std,8.302200,8.887011,5.288023,9.54607,2969.271208,1172.913913,180.809453,2.229602,2.265485,1.905401,1.657725,1.202142,8.107771,12.794461
min,224.000000,208.000000,230.000000,216.15000,120.000000,0.000000,0.000000,0.740870,2.986200,0.000000,2.240700,1.169800,1.287700,0.000000
25%,236.000000,223.000000,238.500000,230.42000,558.000000,8.000000,0.000000,1.438900,4.773100,0.372680,2.855500,1.690700,1.955200,0.000000
50%,243.000000,229.000000,242.450000,232.98000,1651.000000,211.000000,0.000000,2.314800,6.145800,1.645800,3.678400,2.333100,4.064800,0.000000
75%,249.000000,234.000000,245.860000,234.78000,4151.000000,1035.000000,0.000000,4.078700,7.765000,2.969325,5.051700,3.343500,20.000000,0.300000
max,253.000000,241.000000,249.340000,249.32000,10530.000000,4146.000000,735.000000,8.758400,11.430000,6.504200,8.166100,5.448300,20.000000,47.300000

In [155]:
clf = SGDClassifier(max_iter=1000);
clf.fit(Xtr,Ytr)
print(clf.score(Xtr,Ytr),clf.score(Xva,Yva))

0.65676875 0.658575

In [156]:
XtS, params = ml.rescale(Xtr) # Normalize the features
XvS, _ = ml.rescale(Xva, params)

In [157]:
clf = SGDClassifier(max_iter=1000);
clf.fit(XtS,Ytr)
print(clf.score(XtS,Ytr),clf.score(XvS,Yva))

0.67004375 0.668625

data[0].plot.hist()
plt.show()

In [ ]:
x = []
for i in range(15):
    x.append(abs(np.corrcoef(Xtr[:,i],Ytr)[1,0]))

In [ ]:
plt.plot(x)
plt.xlabel('feature')
plt.ylabel('corr_coef')
plt.show()

In [ ]:
plt.plot(x)
plt.xlabel('feature')
plt.ylabel('corr_coef')
plt.show()

In [ ]:
data[14].value_counts().plot(kind='barh', color="blue", alpha=.65)
plt.show()

It seems like all features are used - there is no clear distinction w.r.t output

In [ ]:
out = pd.cut(Xtr[:,0], bins = [x for x in range(190,270,10)], include_lowest=True)
out[data[14]==0].value_counts().plot(kind='bar', color="blue")
plt.show()
out[data[14]==1].value_counts().plot(kind='bar', color="red")
plt.show()